body {
	margin-top: 80px;
}

.table tbody tr td.success {
  background-color: #dff0d8;
}

.table tbody tr td.error {
  background-color: #f2dede;
}

.table tbody tr td.warning {
  background-color: #fcf8e3;
}

.table tbody tr td.info {
  background-color: #d9edf7;
}

.table-hover tbody tr td.success:hover {
  background-color: #d0e9c6;
}

.table-hover tbody tr td.error:hover {
  background-color: #ebcccc;
}

.table-hover tbody tr td.warning:hover {
  background-color: #faf2cc;
}

.table-hover tbody tr td.info:hover {
  background-color: #c4e3f3;
}

.positions thead tr th.day {
	width: 18px;
	text-align: center
}

.positions tbody tr td {
	text-align: center;
}

.positions tbody tr td.keyword {
	text-align: left;
}